@import "tailwindcss";

/* Scrollbar Styling */
* {
  scrollbar-color: rgba(34, 211, 238, 0.5) transparent;
  scrollbar-width: thin;
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(34, 211, 238, 0.4);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.7);
}
